<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Upload CSV file from Kibana</title>

    <!--Bootstrap 4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container py-5">
    <div class="row">
        <div class="col-6 mx-auto">
            <h1>Upload CSV file from Kibana</h1>
            <form method="POST" th:object="${dataOption}" th:action="@{/}" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Data Option [all data or potential errors]</label>
                    <div th:each="mode : ${T(com.karololejarz.antek.DataMode).values()}">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" th:field="*{dataMode}" th:value="${mode}" class="custom-control-input">
                            <label class="custom-control-label" th:for="${#ids.prev('dataMode')}" th:text="${mode}">mode</label>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="file">Select a CSV file</label>
                    <input type="file" name="file" class="form-control-file" id="file" accept=".csv">
                </div>
                <button type="submit" class="btn btn-primary">Import Kibana Entries</button>
            </form>
        </div>
    </div>
</div>

<div th:if="${message}">
    <h1 th:text="${message}"/>
</div>

<h2>Entries</h2>
<h2 th:text="${resultsSize}"></h2>
<div>
    <ul>
        <li th:each="entry : ${results}">
            <a th:text="${entry}" />
        </li>
    </ul>
</div>

<h3>Commented coIds</h3>
<h3 th:text="${coIdsNo}"></h3>

<div>
    <ul>
        <li th:each="coId : ${coIds}">
            <a th:text="${coId}" />
        </li>
    </ul>
</div>

<h3>Commented devices</h3>
<h3 th:text="${devicesNo}"></h3>

<div>
    <ul>
        <li th:each="device : ${devices}">
            <a th:text="${device}" />
        </li>
    </ul>
</div>

<h3>Commented imeis</h3>
<h3 th:text="${imeiSetSize}"></h3>

<div>
    <ul>
        <li th:each="imei : ${imeiSet}">
            <a th:text="${imei}" />
        </li>
    </ul>
</div>

<h3>Commented promos</h3>
<h3 th:text="${bscsCodesNo}"></h3>

<div>
    <ul>
        <li th:each="bscsCode : ${bscsCodes}">
            <a th:text="${bscsCode}" />
        </li>
    </ul>
</div>

<h3>Commented tariffs</h3>
<div>
    <ul>
        <li th:each="tariff : ${tariffs}">
            <a th:text="${tariff}" />
        </li>
    </ul>
</div>

</body>
</html>